{% extends 'base.html.twig' %}

{% block title %}Dylan Charton - Projets{% endblock %}

{% block body %}
<section class="projets mt-5 container">
    <h1 class="mb-5 text-center">Mes projets</h1>
    <div id="project-block">
        {% for projet in projets %}
            <div class="d-flex row project-row">
                <div class="col-6 img-wrapper">
                    <img src="{{ asset('/uploads/' ~ projet.mockup )}}" alt="Illustration" class="img-fluid thumbnail">
                </div>
                
                <div class="d-flex flex-column justify-content-center align-items-end col-6 content-wrapper">
                    <h2 class="text-center">{{projet.title}}</h2>
                    {# Le lien du projet serait plutôt dans le projet lui-même #}
                    {# <a href="{{projet.weblink}}">Lien du projet</a> #}
                    
                    <div class="w-100 d-flex justify-content-center mb-3">
                        <span class="category-chips">{{ projet.category.title | upper }}</span>
                    </div>
                    
                    <div class="w-100 d-flex justify-content-center">
                        <a href="{{ path( 'project_show', {'id': projet.id} )}}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            
        
        {% endfor %}
    </div>


</section>
{% endblock %}