{% extends "base.html.twig" %}

{% form_theme formProject 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>{% if editMode %}Modifier le projet {% else %} Création de projet {% endif %}</h1>

    {{ form_start(formProject) }}

    {{ form_row(formProject.title, {'attr' : {'placeholder' : 'Titre du projet'}}) }}
    {{ form_row(formProject.description, {'attr' : {'placeholder' : 'Description du projet'}}) }}
    {{ form_row(formProject.image, {'attr' : {'placeholder' : 'Mockup du projet'}}) }}
    {{ form_row(formProject.github, {'attr' : {'placeholder' : 'Lien du repository'}}) }}
    {{ form_row(formProject.weblink, {'attr' : {'placeholder' : 'Lien du projet'}}) }}

    <input type="submit" name="add-project" class="btn btn-success mt-3" value="{% if editMode %}Modifier{% else %}Ajouter le projet{% endif %}">

    {{ form_end(formProject) }}

{% endblock %}